.theme-mocha {
    --base: #1E1E2E;
    --mantle: #181825;
    --crust: #11111B;
    
    --surface0: #313244;
    --surface1: #29293E;
    --surface2: #2D2D3B;

    --text: #D9E0EE;
    --subtext0: #C3BAC6;
    --subtext1: #988BA2;
    
    --rosewater: #F5E0DC;
    --flamingo: #F2CDCD;
    --pink: #F5C2E7;
    --mauve: #CBA6F7;
    --red: #F38BA8;
    --maroon: #EBA0AC;
    --peach: #FAB387;
    --yellow: #F9E2AF;
    --green: #A6E3A1;
    --teal: #94E2D5;
    --sky: #89DCEB;
    --sapphire: #74C7EC;
    --blue: #89B4FA;
    --lavender: #B4BEFE;
}

body {
    font-family: monospace;
    text-align: center;
    background-color: var(--base);
    color: var(--text);
}